body {
  background-color: aliceblue;
}
.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}
.table-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.comments {
  font-size: 1.5rem;
}
table tr td:nth-child(1) {
  background-color: pink;
}
table tr td:nth-child(2) {
  background-color: aqua;
}
table tr td:nth-child(3) {
  background-color: lime;
}
table tr td:nth-child(4) {
  background-color: red;
}
table tr td:nth-child(5) {
  background-color: lightskyblue;
}
